Package: {{project.name}}
Version: {{project.version}}
Architecture: all
Maintainer: {{project.mantainer.name}} <{{project.mantainer.email}}>
Installed-Size: 828
Priority: optional
Depends: gedit, gedit-plugins, python-webkit
Section: gnome
Description: Gedit customization to Drupal developer
 This package contains a collection of plugins and gtksourceview improvements to
 make Gedit more powerfull to develop especially Drupal modules.
